.internal-companies-item {
  width: 100%;
  padding: 15px;
  background: #ffffff;
  margin-bottom: 20px;
  box-sizing: border-box;
  border-radius: 5px;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.05);

  &:hover {
    cursor: pointer;
  }

  .internal-companies-item-name {
    font-size: 20px;
  }

  .internal-companies-item-company-id {
    font-size: 16px;
    margin-top: 10px;
    color: $grey-mid-dark;
  }

}
