.mission-create-survey-items {

  .ghost {
    opacity: 0;

    .mission-create-survey-item-add {
      opacity: 0;
    }
  }

  .drag {
    opacity: 1;

    .mission-create-survey-item-add {
      opacity: 0;
    }
  }
}
