.mission-create-survey-items {

  .ghost {

    .mission-create-survey-item-add {
      opacity: 0;
    }

    .mission-create-survey-add-box {
      display: none;
    }
  }

  .drag {

    .mission-create-survey-item-add {
      opacity: 0;
    }

    .mission-create-survey-add-box {
      display: none;
    }
  }
}
