.survey-custom-screen {

  .survey-custom-screen-logo {
    text-align: center;

    img {
      max-width: 80%;
      max-height: 100px;

      &.default {
        max-height: 60px;
      }
    }
  }

  .survey-custom-screen-text {
    text-align: center;
    margin: 20px auto 0;
    max-width: 500px;

    .survey-custom-screen-text-headline {
      font-weight: 500;
      font-size: 150%;
      margin: 0 0 10px 0;
    }

    .survey-custom-screen-text-description {
      font-size: 120%;
      color: $grey-mid-dark;
    }
  }
}
