.mission-create-recruit-form-language-item {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px 10px;
  border-radius: 5px;
  border: solid 2px #d2dae2;
  width: 170px;
  margin: 20px;

  &.active {
    border-color: $blue-primary;

    .mission-create-recruit-form-language-item-icon, .mission-create-recruit-form-language-item-text {
      opacity: 1;
    }
  }

  &:hover {
    cursor: pointer;
  }

  .mission-create-recruit-form-language-item-icon {
    width: 40px;
    opacity: 0.5;

    svg {
      width: 100%;
    }
  }

  .mission-create-recruit-form-language-item-text {
    font-weight: 500;
    font-size: 110%;
    margin-left: 30px;
    opacity: 0.5;
  }
}
