.input {
  position: relative;
  padding: 8px 0;
  color: $grey-dark;

  &.DEFAULT {

    .input-title {
      position: relative;
      z-index: 1;
      font-weight: 500;
      margin-bottom: 5px;
      font-size: 90%;
    }

    .input-field {
      padding: 14px 16px;
      box-sizing: border-box;
      border: 1px solid $grey;
      border-radius: 3px;
      width: 100%;
      transition: border 0.4s;

      &.textarea {
        resize: vertical;
        line-height: 140%;
        min-height: 150px;
      }

      &.error {
        border: 1px solid $red-error;
      }
    }
  }

  &.UNDERLINED_LARGE {

    .input-title {
      display: none;
    }

    .input-field {
      padding: 10px 0;
      background-color: transparent;
      border: none;
      box-shadow: none;
      border-bottom: 2px solid $grey-dark;
      font-size: 150%;
      width: 100%;

      &::placeholder {
        color: $grey;
        font-weight: 500;
      }

      &.error {
        border-bottom: 2px solid $red-error;
      }
    }

    .input-error {
      top: 0;
    }
  }

  .input-error {
    position: absolute;
    z-index: 0;
    top: 12px;
    right: 3px;
    color: $red-error;
    font-size: 75%;
    font-weight: 500;
    transition: all 0.4s;
    opacity: 0;
    transform: scale(0.8);

    &.active {
      opacity: 1;
      transform: scale(1);
    }
  }
}
