.mission-create-timeslots {

  .mission-create-timeslots-item {
    display: flex;

    .mission-create-timeslots-item-date {
      width: 40%;
      font-weight: 500;
      flex-shrink: 0;
    }

    .mission-create-timeslots-item-sessions {
      display: flex;
      flex-wrap: wrap;
      margin: -10px 0;

      .mission-create-timeslots-item-sessions-item {
        padding: 8px;
        margin: 5px;
        background-color: $grey-light;
      }
    }
  }
}
