.mission-create-recruit-summary-icons-item {
  margin: 0 50px;

  .mission-create-recruit-summary-icons-item-icon {
    height: 50px;
    text-align: center;

    svg {
      height: 100%;
    }
  }

  .mission-create-recruit-summary-icons-item-body {
    font-weight: 500;
    margin-top: 20px;
    text-align: center;
  }
}
