.mission-recruit-overview {

  .mission-recruit-overview-day {
    margin: 50px 0;

    .mission-recruit-overview-headline {
      font-size: 110%;
      font-weight: 500;
      margin-bottom: 20px;
    }
  }
}
