.dashboard {

  .dashboard-head {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .dashboard-create {
      display: flex;
      align-items: center;

      .dashboard-create-start {
        width: 100px;
        margin-right: 10px;
      }
    }
  }

  .dashboard-projects {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -0.66666%
  }
}
