.mission-create-survey-custom-screen {

  .mission-create-survey-custom-screen-head {
    display: flex;
    align-items: center;

    .mission-create-survey-custom-screen-head-icon {
      width: 30px;
      margin-right: 25px;
    }

    .mission-create-survey-custom-screen-head-text {

      .mission-create-survey-custom-screen-head-text-headline {
        font-size: 130%;
        font-weight: 700;
        margin-bottom: 5px;
      }
    }

    .mission-create-survey-custom-screen-head-switch {

    }
  }
}
