.mission-recruit-sidebar-recruited {
  margin-bottom: 40px;

  .mission-recruit-sidebar-recruited-title {
    font-size: 70%;
    font-weight: 700;
  }

  .mission-recruit-sidebar-recruited-count {
    margin: 10px 0;

    .mission-recruit-sidebar-recruited-count-current {
      font-size: 120%;
      font-weight: 500;
    }

    .mission-recruit-sidebar-recruited-count-total {
      color: $grey-mid-dark;
      font-size: 80%;
      font-weight: 700;
    }
  }

  .mission-recruit-sidebar-recruited-progress {
    position: relative;
    height: 4px;
    background-color: $grey;
    border-radius: 2px;
    overflow: hidden;

    .mission-recruit-sidebar-recruited-progress-done {
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      background-color: $green;

      &:not(.noAnimation) {
        transition: width 1s;
      }

      &:not(.showProgress) {
        width: 0 !important;
      }
    }
  }
}
