.overlay-modal {
  position: fixed;
  z-index: 5;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  overflow-y: auto;
  background-color: rgba(#fff, 0.9);

  .overlay-modal-box {
    position: relative;
    margin: 100px auto 50px auto;
    width: 90%;
    max-width: 500px;
    background-color: #fff;
    box-shadow: 0 2px 8px 0 rgba(72, 84, 96, 0.25);
    border-radius: 5px;

    .overlay-modal-box-inner {
      position: relative;

      .overlay-modal-box-loading {
        position: absolute;
        z-index: 0;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        transition: opacity 0.4s;
        opacity: 0;

        &.active {
          opacity: 1;
        }

        svg {
          width: 70px;
        }
      }

      .overlay-modal-box-close {
        position: absolute;
        right: 10px;
        top: 10px;
        width: 13px;
        padding: 10px;

        &:hover {
          cursor: pointer;
        }

        svg {
          fill: $grey-dark;
        }
      }

      .overlay-modal-box-content {
        padding: 50px 10% 30px;
        position: relative;
        z-index: 1;
        opacity: 1;
        transition: all 0.4s;

        &.hidden {
          transform: scale(0.9);
          opacity: 0;
        }

        .overlay-modal-box-content-title {
          font-weight: 700;
          font-size: 150%;
          margin-bottom: 40px;
        }
      }
    }
  }
}
