.mission-create-survey-item-five-second-test {

  .mission-create-survey-item-five-second-test-explanation {
    margin-bottom: 15px;
  }

  .mission-create-survey-item-five-second-test-input {
    display: flex;
    align-items: center;
    margin-bottom: 20px;

    .mission-create-survey-item-five-second-test-input-item {
      width: 80px;
      margin: 0 10px;
    }
  }
}
