.persona {

  .persona-cancel {
    position: absolute;
    top: 120px;
    left: 5%;
  }

  .persona-step {
    margin-top: 60px;
  }

  .persona-pending {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 60px;

    svg {
      width: 100%;
    }
  }
}
