.persona {

  .persona-cancel {
    position: absolute;
    top: 120px;
    left: 5%;
  }

  .persona-form {
    margin: 100px auto 50px;

    .persona-form-avatar {
      margin: 0 auto;
      width: 400px;
    }
  }

  .persona-step {
    margin-top: 60px;
  }
}
