.mission-persona-criteria-item-special-criteria-input {
  position: relative;
  margin: 20px 0;

  .mission-persona-criteria-item-special-criteria-input-field {
    width: 100%;
    padding: 14px 16px;
    box-sizing: border-box;
    border: 1px solid $grey;
    border-radius: 3px;
  }

  .mission-persona-criteria-item-special-criteria-input-icon {
    position: absolute;
    top: 50%;
    right: -35px;
    transform: translateY(-50%);
    height: 18px;

    &:hover {
      cursor: pointer;

      svg {
        fill: $grey-mid-dark;
      }
    }

    svg {
      fill: $grey;
      transition: fill 0.4s;
      height: 100%;
    }

    .blue {

      &:hover svg, svg {
        fill: $blue-primary;
      }
    }
  }
}
