.button-text {
  position: relative;
  border-radius: 3px;
  overflow: hidden;

  &:not(.noMargin) {
    margin: 15px 0;
  }

  .button-text-disabled {
    position: absolute;
    z-index: 1;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(#fff, 0.7);
  }

  .button-text-item {
    position: relative;
    z-index: 0;
    padding: 14px 16px;
    width: 100%;
    box-sizing: border-box;
    border: none;
    font-weight: 500;
    font-size: 100%;

    &:hover {
      cursor: pointer;
    }

    .button-text-item-arrow {
      width: 15px;
      padding-bottom: 1px;
    }

    &.leftArrowActive,&.iconActive {

      .button-text-item-text {
        margin-left: 5px;
      }
    }

    &.rightArrowActive {

      .button-text-item-text {
        margin-right: 5px;
      }
    }
  }

  &.BLUE .button-text-item {
    background-color: $blue-primary;
    color: #fff;

    .button-text-item-arrow {
      fill: #fff;
    }
  }

  &.BLUE_BORDER .button-text-item {
    border: 1px solid $blue-primary;
    color: $blue-primary;
    background-color: transparent;

    .button-text-item-arrow {
      fill: $blue-primary;
    }
  }

  &.GREY .button-text-item {
    background-color: rgba($grey, 0.4);
    color: $grey-dark;

    .button-text-item-arrow {
      fill: $grey-dark;
    }
  }

  .button-text-item-icon {
    width: 15px;
  }

  &.CUSTOM {

    .button-text-item {
      color: #fff;
      background-color: transparent;
    }

    &.FIRST_CLICK {
      background-color: $mission-survey-first-click;
      color: #fff;
    }
    &.FIVE_SECOND_TEST {
      background-color: $mission-survey-five-second-test;
    }
    &.QUESTION_LIST {
      background-color: $mission-survey-question-list;
    }
    &.DESIGN_QUESTION {
      background-color: $mission-survey-design-question;
    }
    &.PREFERENCE_TEST {
      background-color: $mission-survey-preference-test;
    }
    &.INSTRUCTION {
      background-color: $mission-survey-instruction;
    }
  }
}
