.button-circle {
  position: relative;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  transition: transform 0.4s;

  &.large {
    width: 65px;
    height: 65px;
  }

  &:hover {
    cursor: pointer;
    transform: scale(1.1)
  }

  svg {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    max-width: 20px;
    max-height: 20px;
  }

  &.CREATE {
    background-color: rgba($blue-primary, 0.2)
  }

  &.ANGLE_RIGHT {
    background-color: #fff;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.07);

    svg {
      fill: $grey-dark;
    }
  }

  &.ARROW_LEFT {
    background-color: #fff;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.07);

    svg {
      fill: $grey-dark;
    }
  }
}

