.mission-count-progress {

  .mission-count-progress-bar {
    position: relative;
    height: 4px;
    background-color: $grey;
    border-radius: 2px;
    overflow: hidden;

    .mission-count-progress-bar-done {
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      background-color: $blue-primary;

      &:not(.noAnimation) {
        transition: width 1s;
      }

      &:not(.showProgress) {
        width: 0 !important;
      }
    }
  }
}
