.mission-survey-order-participants {
  display: flex;
  align-items: center;

  .mission-survey-order-participants-label {
    margin-right: 30px;
    font-weight: 500;
  }

  .mission-survey-order-participants-input {
    width: 110px;
    text-align: center;
  }
}
