.mission-survey-order-participants {
  padding: 30px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid $grey;

  .mission-survey-order-participants-label {
    margin-right: 30px;
    font-weight: 500;
  }

  .mission-survey-order-participants-input {
    width: 110px;
    text-align: center;
  }
}
