.survey-item {

  .survey-item-headline {
    font-weight: 500;
    font-size: 140%;
    text-align: center;
    margin: 0 auto 20px;
    max-width: 500px;
  }

  .survey-item-subtitle {
    max-width: 500px;
    text-align: center;
    margin: -10px auto 20px;
    color: $grey-mid-dark;
  }
}
