.mission-recruit-sidebar-line {
  display: flex;
  align-items: center;
  padding: 5px 50px;
  margin: 0 -50px;

  &.greyBg {
    background-color: $grey-light;
  }

  .mission-recruit-sidebar-line-icon {
    width: 60px;
    height: 60px;

    &:not(.PERSONA) {
      display: flex;
      align-items: center;
    }

    &.LANGUAGE, &.DURATION, &.NB_PARTICIPANTS {
      padding: 0 8px;
      width: 44px;
    }

    svg {
      width: 100%;
      height: 100%;
    }
  }

  .mission-recruit-sidebar-line-text {
    margin-left: 15px;
  }
}
