.mission-create-recruit-persona {
  background-color: #fff;
  border-radius: 5px;
  overflow: hidden;

  .mission-create-recruit-persona-headline {
    padding: 30px;
    font-weight: 500;
    font-size: 110%;
    border-bottom: 1px solid $grey;
  }
}
