.mission-create-recruit-persona {
  background-color: #fff;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.07);

  .mission-create-recruit-persona-headline {
    padding: 30px;
    font-weight: 500;
    font-size: 110%;
    border-bottom: 1px solid $grey;
  }
}
