.survey-item-five-second-test {

  .survey-item-five-second-test-button {
    position: relative;
    z-index: 1;
    width: 200px;
    margin: 0 auto;

    .survey-item-five-second-test-button-pending {
      width: 40px;
      margin: 0 auto;
    }
  }
}
