.mission-survey-results-box {
  padding: $mission-survey-results-box-padding;
  margin: 20px 0;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.07);

  .mission-survey-results-box-body {

    .mission-survey-results-box-body-main {
      margin-top: 20px;
    }

    .mission-survey-results-box-body-follow-up {
      margin-top: $mission-survey-results-box-padding;
    }
  }
}
