.mission-create-survey-custom-screen-branding {
  margin: 8px 0;

  .mission-create-survey-custom-screen-branding-title {
    font-size: 90%;
    font-weight: 500;
    margin-bottom: 5px;
  }

  .mission-create-survey-custom-screen-branding-title {

  }
}
