.personas-sidebar-table {
  margin-bottom: 40px;

  .personas-sidebar-table-headline {
    font-size: 120%;
    font-weight: 500;
    margin-bottom: 20px;
  }

  table.personas-sidebar-table-content {
    width: 100%;
    border-collapse: collapse;

    tr {
      background-color: rgba($grey, 0.2);

      &.dark {
        background-color: rgba($grey, 0.4);
      }

      td {
        vertical-align: top;
        padding: 15px;
      }

      .personas-sidebar-table-content-label {
        font-weight: 500;
      }
    }
  }
}
