.persona-criteria-box {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.07);
  margin: 30px 0;

  &:not(.opened) {

    .persona-criteria-box-head {
      cursor: pointer;
    }
  }

  .persona-criteria-box-head {
    padding: 20px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .persona-criteria-box-head-text {
      font-size: 130%;
    }

    .persona-criteria-box-head-close {
      position: relative;
      width: 30px;
      height: 30px;

      &:hover {
        cursor: pointer;
      }

      svg {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 13px;
        fill: $grey-dark;
      }
    }
  }

  .persona-criteria-box-body {
    padding: 10px 40px 40px;
  }
}
