.project-sidebar {

  .project-sidebar-owner {
    display: flex;
    margin-top: 20px;
    align-items: center;

    .project-sidebar-owner-img {
      width: 45px;
      height: 45px;
      border-radius: 100%;
      overflow: hidden;
    }

    .project-sidebar-owner-name {
      margin-left: 10px;
    }
  }

  .project-sidebar-delete {
    margin-top: 40px;
  }
}
