.internal-companies {

  .internal-companies-headline {
    font-weight: 500;
    font-size: 120%;
    margin-bottom: 20px;
  }

  .internal-companies-items {
    width: 600px;
    min-height: 100px;
  }
}
