.persona-sidebar-head-item {
  margin-left: 60px;
  transform: translateY(-35px);

  .persona-sidebar-head-item-value {
    font-size: 120%;
    font-weight: 500;
  }

  .persona-sidebar-head-item-label {
    margin-top: 2px;
    color: $grey;
  }
}
