.billing-form {
  position: relative;

  .billing-form-inner {

    &.pending {
      opacity: 0;
      z-index: -1;
    }

    .billing-form-rows {
      display: flex;
      justify-content: space-between;

      .billing-form-rows-item {
        width: 48%;
      }
    }

    .billing-form-submit {
      margin-top: 20px;
    }
  }

  .billing-form-pending {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;

    .billing-form-pending-loading {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      width: 70px;
    }
  }
}
