.dashboard-project-empty {
  display: flex;
  justify-content: space-between;
  background-color: rgba($grey, 0.2);
  border-radius: 5px;
  width: 32%;
  box-sizing: border-box;
  padding: 20px;
  margin: 20px 0.66666%;

  .dashboard-project-empty-title {
    width: 50%;
    height: 25px;
    background-color: rgba($grey, 0.3);
    border-radius: 12.5px;
  }

  .dashboard-project-empty-image {
    width: 40px;
    height: 40px;
    border-radius: 100%;
    background-color: rgba($grey, 0.3);
  }
}
