.mission-survey-icon-indexed {
  display: flex;
  align-items: center;
  color: #fff;
  font-weight: 500;
  padding: 4px;
  border-radius: 5px;
  margin-right: 20px;

  .mission-survey-icon-indexed-inner {
    position: relative;
    width: 20px;
    height: 20px;
    margin-right: 10px;

    svg {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      max-width: 100%;
      max-height: 100%;
    }
  }

  &.SHORT_TEXT {
    background-color: $mission-survey-short-text;
  }
  &.LONG_TEXT {
    background-color: $mission-survey-long-text;
  }
  &.SINGLE_SELECT {
    background-color: $mission-survey-single-select;
  }
  &.MULTI_SELECT {
    background-color: $mission-survey-multi-select;
  }
  &.LIKERT {
    background-color: $mission-survey-likert;
  }
  &.LINEAR_SCALE {
    background-color: $mission-survey-linear-scale;
  }
  &.FIRST_CLICK {
    background-color: $mission-survey-first-click;
  }
  &.FIVE_SECOND_TEST {
    background-color: $mission-survey-five-second-test;
  }
  &.QUESTION_LIST {
    background-color: $mission-survey-question-list;
  }
  &.DESIGN_QUESTION {
    background-color: $mission-survey-design-question;
  }
  &.PREFERENCE_TEST {
    background-color: $mission-survey-preference-test;
  }
  &.INSTRUCTION {
    background-color: $mission-survey-instruction;
  }
}
