.mission-create-type-item {
  background-color: #fff;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.07);
  text-align: center;
  width: 22%;
  box-sizing: border-box;
  transition: box-shadow 0.4s;
  border-radius: 5px;
  overflow: hidden;
  display: flex;
  flex-direction: column;

  &:hover {
    cursor: pointer;
    box-shadow: 0 8px 10px 0 rgba(0, 0, 0, 0.10);
  }

  .mission-create-type-item-icon {
    padding: 15px 0;

    &.IN_HOUSE {
      background-color: $mission-in-house;
    }

    &.REMOTE {
      background-color: $mission-remote;
    }

    &.USABILITY_LAB {
      background-color: $mission-usability-lab;
    }

    &.SURVEY {
      background-color: $mission-survey;
    }

    .mission-create-type-item-icon-inner {
      position: relative;
      width: 55px;
      height: 55px;
      border-radius: 100%;
      margin: 0 auto;
      background-color: rgba(255, 255, 255, .3);

      svg {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 20px;
        fill: #fff;
      }
    }
  }

  .mission-create-type-item-text {
    flex-grow: 1;
    text-align: left;
    padding: 15px;
    display: flex;
    flex-direction: column;

    .mission-create-type-item-text-title {
      font-weight: 500;
      font-size: 120%;
      margin-bottom: 5px;
    }

    .mission-create-type-item-text-description {
      font-size: 90%;
      margin-bottom: 5px;
    }

    .mission-create-type-item-text-use-cases {
      flex-grow: 1;
      font-size: 90%;
      padding-left: 15px;
      margin: 5px 0 15px;
    }
  }
}
