@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&random=1234');

body {
  margin: 0;
  background-color: $grey-light;
  font-family: 'Roboto', sans-serif, Arial;
  font-size: 15px;
  color: $grey-dark;
}

a {
  text-decoration: none;
  color: inherit;
}

p {
  margin: 0;
}

pre {
  font-family: inherit;
}

a:focus, button:focus {
  outline: none;
}

button::-moz-focus-inner {
  border: 0;
}

select:-moz-focusring {
  color: transparent;
  text-shadow: 0 0 0 #000;
}
option:not(:checked) {
  color: black;
}

input, select, textarea {
  font-size: 100%;
  color: $grey-dark;
  font-family: inherit;
}

input::placeholder, textarea::placeholder {
  color: $grey-mid-dark;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}

textarea {
  font-family: inherit;
}

.text-overflow-ellipsis {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.chantal-bg {
  background-color: $persona-chantal;
}
.chantal-bg-font {
  color: #fff;
}
.dustin-bg {
  background-color: $persona-dustin;
}
.dustin-bg-font {
  color: $grey-dark;
}
.jacqueline-bg {
  background-color: $persona-jacqueline;
}
.jacqueline-bg-font {
  color: #fff;
}
.jason-bg {
  background-color: $persona-jason;
}
.jason-bg-font {
  color: #fff;
}
.justin-bg {
  background-color: $persona-justin;
}
.justin-bg-font {
  color: #fff;
}
.kevin-bg {
  background-color: $persona-kevin;
}
.kevin-bg-font {
  color: $grey-dark;
}
.mandy-bg {
  background-color: $persona-mandy;
}
.mandy-bg-font {
  color: #fff;
}
.marvin-bg {
  background-color: $persona-marvin;
}
.marvin-bg-font {
  color: #fff;
}
.mika-bg {
  background-color: $persona-mika;
}
.mika-bg-font {
  color: #fff;
}

/* vue-draggable */

.ghost {
  opacity: 0;
}

.drag {
  opacity: 1;
}

*[data-aos="fade-in"] {
  transform: none !important;
}
