@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700&random=1234');

body {
  margin: 0;
  background-color: $grey-light;
  font-family: 'Roboto', sans-serif, Arial;
  font-size: 15px;
  color: $grey-dark;
}

a {
  text-decoration: none;
  color: inherit;
}

p {
  margin: 0;
}

a:focus, button:focus {
  outline: none;
}

button::-moz-focus-inner {
  border: 0;
}

select:-moz-focusring {
  color: transparent;
  text-shadow: 0 0 0 #000;
}
option:not(:checked) {
  color: black;
}
