$grey-light: #f6f9fa;
$grey-mid-light: #e6eaeb;
$grey: #d2dae2;
$grey-mid-dark: #9ea6ad;
$grey-dark: #485460;

$blue-primary: #717AFA;

$yellow: #ffa801;

$red-error: #FF4438;

$mission-in-house: #8D51E8;
$mission-remote: #666AFF;
$mission-usability-lab: #639de8;
$mission-survey: #64DFFF;

$mission-survey-short-text: #FAD761;
$mission-survey-long-text: #70F558;
$mission-survey-single-select: #60DBFA;
$mission-survey-multi-select: #9653E6;
$mission-survey-likert: #FF624F;
$mission-survey-linear-scale: #002856;

$mission-survey-first-click: #FAD761;
$mission-survey-five-second-test: #70F558;
$mission-survey-question-list: #60DBFA;
$mission-survey-design-question: #FF4438;
$mission-survey-preference-test: #9653E6;
$mission-survey-instruction: #002856;

$sidebar-left-width: 400px;
$footer-min-height: 60px;

$survey-step-body-padding-top: 50px;
$survey-step-body-padding-top-mobile: 20px;
$survey-step-body-padding-left-right: 2.5%;
$survey-step-body-padding-bottom: 20px;

$mission-survey-results-box-padding: 40px;
$mission-survey-results-box-head-icon-width: 67px;

$sm: "screen and (min-width : 600px)";
$md: "screen and (min-width : 900px)";
$lg: "screen and (min-width : 1280px)";
$xl: "screen and (min-width : 1500px)";
