$grey-light: #f6f9fa;
$grey: #d2dae2;
$grey-mid-dark: #9ea6ad;
$grey-dark: #485460;

$blue-primary: #0fbcf9;

$green: #0be881;

$red-error: #f53b57;

$persona-chantal: #0be881;
$persona-dustin: #d2dae2;
$persona-jacqueline: #575fcf;
$persona-jason: #ef5777;
$persona-justin: #ff5e57;
$persona-kevin: #ffdd59;
$persona-mandy: #4bcffa;
$persona-marvin: #34e7e4;
$persona-mika: #ffc048;

$mission-in-house: #f53b57;
$mission-remote: #575fcf;
$mission-usability-lab: #ffa801;
$mission-survey: #0fbcf9;

$sidebar-width: 500px;
$footer-min-height: 60px;
