.mission-recruit-insights {
  margin-top: 40px;

  .mission-recruit-insights-links, .mission-recruit-insights-recordings {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -20px;
  }

  .mission-recruit-insights-links {
    margin-bottom: 40px;
  }

  .mission-recruit-insights-section-headline {
    font-size: 120%;
  }
}
