.mission-survey-results-item-follow-up {
  margin: 0 -$mission-survey-results-box-padding;
  border-top: 1px solid $grey;
  padding: 20px;

  .mission-survey-results-item-follow-up-body {
    margin-top: 20px;
  }
}
