.company-form {

  .company-form-street {
    display: flex;
    justify-content: space-between;

    .company-form-street-name {
      width: 60%;
    }

    .company-form-street-nb {
      width: 35%;
    }
  }
}
