.personas {

  .personas-head {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .personas-create {
      display: flex;
      align-items: center;

      .personas-create-start {
        width: 100px;
        margin-right: 10px;
      }
    }
  }

  .personas-icons {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -20px;

    .personas-icons-item {
      margin: 20px;
    }
  }
}
