.select {
  position: relative;
  padding: 8px 0;

  &.error {

    .select-field {
      border: 1px solid $red-error;
    }
  }

  .select-title {
    position: relative;
    z-index: 1;
    font-weight: 500;
    margin-bottom: 5px;
    font-size: 90%;
  }

  .select-field {
    padding: 14px 16px;
    box-sizing: border-box;
    border: 1px solid $grey;
    border-radius: 3px;
    width: 100%;
    background-color: #fff;
    background-image: url(../../../assets/icons/angle-down-grey-dark.png);
    background-repeat: no-repeat;
    background-position: calc(100% - 15px) 20px;
    background-size: 13px;
    appearance: none;
    transition: border 0.5s;

    &:disabled {
      color: $grey-mid-dark;
    }

    &:not(.disabled):hover {
      cursor: pointer;
    }
  }

  .select-error {
    position: absolute;
    z-index: 0;
    top: 12px;
    right: 3px;
    color: $red-error;
    font-size: 75%;
    font-weight: 500;
    transition: all 0.4s;
    opacity: 0;
    transform: scale(0.8);

    &.active {
      opacity: 1;
      transform: scale(1);
    }
  }
}
