.mission-create-type {
  width: 100%;
  max-width: 1000px;
  margin: 100px auto 50px;

  .mission-create-type-items {
    display: flex;
    justify-content: space-between;
    margin-top: 60px;
  }
}
