.form-step {
  margin: 70px auto 0;

  &.large {
    width: 700px;
  }

  .form-step-nav {
    margin-top: 40px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;

    &.onlyPrev {
      flex-direction: row;
    }
  }
}
