.persona-icon {
  transition: opacity 0.4s;


  &:not(.noClick):hover {
    cursor: pointer;
  }

  &.whiteBg {

    .persona-icon-image {
      background-color: #fff !important;
    }
  }

  &.disabled {
    opacity: 0.2;
  }

  .persona-icon-image {
    position: relative;
    width: 150px;
    height: 150px;
    border-radius: 100%;
    overflow: hidden;

    &.small {
      width: 100px;
      height: 100px;
    }

    &.adjustSize {
      width: 100%;
      height: auto;

      &:after {
        content: "";
        display: block;
        padding-bottom: 100%;
      }
    }

    svg {
      position: absolute;
      left: 50%;
      bottom: 0;
      transform: translateX(-50%);
      height: 90%
    }
  }

  .persona-icon-name {
    font-size: 120%;
    text-align: center;
    margin: 15px 0;
  }
}
