.persona-icon {
  transition: transform 0.4s;

  &:hover {
    cursor: pointer;
    transform: scale(1.1);
  }

  .persona-icon-image {
    position: relative;
    width: 150px;
    height: 150px;
    border-radius: 100%;
    overflow: hidden;

    &.chantal {
      background-color: $persona-chantal;
    }
    &.dustin {
      background-color: $persona-dustin;
    }
    &.jacqueline {
      background-color: $persona-jacqueline;
    }
    &.jason {
      background-color: $persona-jason;
    }
    &.justin {
      background-color: $persona-justin;
    }
    &.kevin {
      background-color: $persona-kevin;
    }
    &.mandy {
      background-color: $persona-mandy;
    }
    &.marvin {
      background-color: $persona-marvin;
    }
    &.mika {
      background-color: $persona-mika;
    }

    svg {
      position: absolute;
      left: 50%;
      bottom: 0;
      transform: translateX(-50%);
      height: 90%
    }
  }

  .persona-icon-name {
    font-size: 120%;
    text-align: center;
    font-weight: 500;
    margin: 15px 0;
  }
}
