.persona-icon {
  transition: transform 0.4s;

  &:not(.noClick):hover {
    cursor: pointer;
    transform: scale(1.1);
  }

  &.whiteBg {

    .persona-icon-image {
      background-color: #fff !important;
    }
  }

  .persona-icon-image {
    position: relative;
    width: 150px;
    height: 150px;
    border-radius: 100%;
    overflow: hidden;

    svg {
      position: absolute;
      left: 50%;
      bottom: 0;
      transform: translateX(-50%);
      height: 90%
    }
  }

  .persona-icon-name {
    font-size: 120%;
    text-align: center;
    font-weight: 500;
    margin: 15px 0;
  }
}
