.select-custom {
  position: relative;
  z-index: 1;

  &.opened {

    .select-custom-head {

      svg {
        transform: rotate(180deg)
      }
    }
  }

  .select-custom-head {
    padding-right: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    border-radius: 3px;
    border: 1px solid $grey;

    &:hover {
      cursor: pointer;
    }

    svg {
      width: 18px;
      fill: $grey;
      transition: transform 0.4s;
    }

    .select-custom-head-empty {
      padding: 14px 16px;
      color: $grey;
    }
  }

  .select-custom-options {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background-color: #fff;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    overflow: hidden;

    .select-custom-options-item {

      &.selected, &:hover {
        cursor: pointer;
        background-color: $grey-light;
      }
    }
  }
}
