.switch-button {
  position: relative;
  border-radius: 25px;
  width: 50px;
  height: 25px;
  background-color: $grey;
  transition: background-color .4s;

  &:hover {
    cursor: pointer;
  }

  .switch-button-circle {
    position: absolute;
    left: 2px;
    top: 2px;
    width: 21px;
    height: 21px;
    border-radius: 100%;
    background-color: #fff;
    transition: left .5s;
  }

  &.on {
    background-color: $blue-primary;

    .switch-button-circle {
      left: 27px;
    }
  }
}
