.switch-button {
  display: flex;
  align-items: center;

  .switch-button-label {
    font-weight: 500;
    margin-right: 8px;

    &:hover {
      cursor: pointer;
    }
  }

  .switch-button-icon {
    position: relative;
    border-radius: 25px;
    width: 50px;
    height: 25px;
    background-color: $grey;
    transition: background-color .2s;

    &:hover {
      cursor: pointer;
    }

    .switch-button-icon-circle {
      position: absolute;
      left: 2px;
      top: 2px;
      width: 21px;
      height: 21px;
      border-radius: 100%;
      background-color: #fff;
      transition: left .2s;
    }

    &.on {
      background-color: $blue-primary;

      &.SHORT_TEXT {
        background-color: $mission-survey-short-text;
      }
      &.LONG_TEXT {
        background-color: $mission-survey-long-text;
      }
      &.SINGLE_SELECT {
        background-color: $mission-survey-single-select;
      }
      &.MULTI_SELECT {
        background-color: $mission-survey-multi-select;
      }
      &.LIKERT {
        background-color: $mission-survey-likert;
      }
      &.LINEAR_SCALE {
        background-color: $mission-survey-linear-scale;
      }

      .switch-button-icon-circle {
        left: 27px;
      }
    }
  }

  &.small {

    .switch-button-label {
      font-size: 80%;
      font-weight: normal;
      margin-right: 4px;
    }

    .switch-button-icon {
      border-radius: 20px;
      width: 30px;
      height: 15px;

      .switch-button-icon-circle {
        left: 2px;
        top: 2px;
        width: 11px;
        height: 11px;
      }

      &.on {

        .switch-button-icon-circle {
          left: 17px;
        }
      }
    }
  }
}
