.headline {

  &.center {
    text-align: center;
  }

  &:not(.hasSubline) .headline-main {
    margin-bottom: 30px;
  }

  .headline-main {
    font-size: 200%;
    font-weight: 500;
    margin: 0 0 10px;
  }

  .headline-subline {
    font-size: 120%;
    color: $grey;
  }
}
