.mission-create-survey-summary {

  .ghost {
    opacity: 0;
  }

  .drag {
    opacity: 1;
  }

  .mission-create-survey-summary-duration {
    display: flex;
    align-items: center;
    margin: 10px -15px -15px -15px;
    padding: 10px 25px;
    background-color: $grey-light;

    .mission-create-survey-summary-duration-icon {
      width: 20px;
      margin-right: 10px;
    }
  }

  .mission-create-survey-summary-buttons-flex {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;

    .mission-create-survey-summary-buttons-flex-item {
      width: 48%;
    }
  }
}
