.mission-survey-share {

  .mission-survey-share-order {
    max-width: 400px;
    padding: 20px;
    border: 1px solid $grey;
    border-radius: 5px;
    margin: 20px 0;

    .mission-survey-share-order-created {
      float: right;
      font-size: 70%;
      font-weight: 700;
    }
  }

  .mission-survey-share-link {
    display: flex;
    align-items: center;

    .mission-survey-share-link-input {
      margin-right: 10px;
    }

    .mission-survey-share-link-copy {
      position: relative;

      .mission-survey-share-link-copy-confirmation {
        text-align: center;
        position: absolute;
        width: 100%;
        left: 0;
        right: 0;
        top: 100%;
        padding-top: 5px;
        opacity: 0;
        transition: opacity .5s;
        font-size: 90%;

        &.active {
          opacity: 1;
        }
      }
    }
  }
}
