.nav {
  position: fixed;
  z-index: 2;
  left: 0;
  top: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
  color: $grey-dark;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.05);
  background-color: #fff;

  .nav-text {
    display: flex;
    align-items: center;

    .nav-logo {
      font-size: 120%;
      margin: 0 30px;
    }

    .nav-item {
      margin: 0 20px;
      transition: color 0.4s;
      line-height: 20px;
      padding: 20px 0;

      &.active {
        color: $blue-primary;
        font-weight: 500;
        padding-bottom: 17px;
        border-bottom: 3px solid $blue-primary;
      }
    }
  }

  .nav-right {
    display: flex;
    align-items: center;

    .request-feature {
      font-weight: 500;
      color: $blue-primary;
      margin-right: 30px;
    }

    .nav-profile {
      display: flex;
      align-items: center;

      .nav-profile-img {
        width: 45px;
        height: 45px;
        border-radius: 100%;
        overflow: hidden;

        img {
          width: 100%;
        }
      }

      .nav-profile-welcome {
        margin: 0 30px 0 15px;
      }
    }
  }
}
